# Determine OS
{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

# Determine number of CPU cores and threads
{{- $cpuCores := 1 }}
{{- $cpuThreads := 1 }}
{{- if eq .chezmoi.os "darwin" }}
{{-   $cpuCores = (output "/usr/sbin/sysctl" "-n" "hw.physicalcpu_max") | trim | atoi }}
{{-   $cpuThreads = (output "/usr/sbin/sysctl" "-n" "hw.logicalcpu_max") | trim | atoi }}
{{- else if eq .chezmoi.os "linux" }}
{{-   $cpuCores = (output "sh" "-c" "lscpu --online --parse | grep --invert-match '^#' | sort --field-separator=',' --key='2,4' --unique | wc --lines") | trim | atoi }}
{{-   $cpuThreads = (output "sh" "-c" "lscpu --online --parse | grep --invert-match '^#' | wc --lines") | trim | atoi }}
{{- else if eq .chezmoi.os "windows" }}
{{-   $cpuCores = (output "powershell.exe" "-NoProfile" "-NonInteractive" "-Command" "(Get-CimInstance -ClassName 'Win32_Processor').NumberOfCores") | trim | atoi }}
{{-   $cpuThreads = (output "powershell.exe" "-NoProfile" "-NonInteractive" "-Command" "(Get-CimInstance -ClassName 'Win32_Processor').NumberOfLogicalProcessors") | trim | atoi }}
{{- end }}

{{- $localDir := joinPath .chezmoi.homeDir ".local" -}}
{{- $homebrewPrefix := "" -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   if eq .chezmoi.arch "arm64" -}}
{{-     $homebrewPrefix = "/opt/homebrew" -}}
{{-   else -}}
{{-     $homebrewPrefix = "/usr/local" -}}
{{-   end -}}
{{- else if eq .chezmoi.os "linux" -}}
{{-   $homebrewPrefix = "/home/linuxbrew/.linuxbrew" -}}
{{- end }}

[data]
  osid = {{ $osid | quote }}

  # XDG Base Directory specification
  xdg_config_home = {{ joinPath .chezmoi.homeDir ".config" | quote }}
  xdg_data_home = {{ joinPath $localDir "share" | quote }}
  xdg_cache_home = {{ joinPath .chezmoi.homeDir ".cache" | quote }}
  xdg_state_home = {{ joinPath $localDir "state" | quote }}

  # Local directory structure
  local_dir = {{ $localDir | quote }}

  # Rust environment
  rustup_home = {{ joinPath $localDir "share" "rustup" | quote }}
  cargo_home = {{ joinPath $localDir "share" "cargo" | quote }}

  # Haskell environment (via Homebrew)
  ghc_home = {{ joinPath $homebrewPrefix "opt" "ghc@9.6" | quote }}
  ghc_bin = {{ joinPath $homebrewPrefix "opt" "ghc@9.6" "bin" | quote }}
  cabal_home = {{ joinPath .chezmoi.homeDir ".cabal" | quote }}

  # Homebrew paths (OS-aware)
  homebrew_prefix = {{ $homebrewPrefix | quote }}
  homebrew_cellar = {{ joinPath $homebrewPrefix "Cellar" | quote }}
  homebrew_repository = {{ $homebrewPrefix | quote }}

  # Shell tools
  editor = "nvim"
  pager = "less"
  git_pager = "delta"

  # 1Password SSH agent
  ssh_auth_sock = {{ joinPath .chezmoi.homeDir "Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock" | quote }}

[data.cpu]
  cores = {{ $cpuCores }}
  threads = {{ $cpuThreads }}

[git]
  autoPush = true

[scriptEnv]
{{- if eq .chezmoi.os "darwin" }}
    PATH = "{{ joinPath $homebrewPrefix "bin" }}:{{ joinPath $homebrewPrefix "sbin" }}:{{ joinPath $localDir "share" "cargo" "bin" }}:{{ joinPath $homebrewPrefix "opt" "ghc@9.6" "bin" }}:{{ joinPath .chezmoi.homeDir ".cabal" "bin" }}:{{ joinPath $localDir "bin" }}:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin"
{{- else if eq .chezmoi.os "linux" }}
    PATH = "{{ joinPath $homebrewPrefix "bin" }}:{{ joinPath $homebrewPrefix "sbin" }}:{{ joinPath $localDir "share" "cargo" "bin" }}:{{ joinPath $homebrewPrefix "opt" "ghc@9.6" "bin" }}:{{ joinPath .chezmoi.homeDir ".cabal" "bin" }}:{{ joinPath $localDir "bin" }}:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin"
{{- else }}
    PATH = "$HOME/.local/share/cargo/bin:$HOME/.local/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin"
{{- end }}

