{{- if eq .chezmoi.os "windows" -}}
#!/bin/sh
exit 0
{{- else -}}
#!/bin/bash
set -euo pipefail
# brewfile hash: {{ include "packages/brewfile.tmpl" | sha256sum }}
bash "{{ .chezmoi.sourceDir }}/scripts/install-brew.sh"
{{- end -}}
