cask_args appdir: "/Applications"

## TAPS
tap "bats-core/bats-core"
tap "morantron/tmux-fingers"
{{ if eq .chezmoi.os "darwin" }}
tap "buo/cask-upgrade"
## CASKS
# Utilities
cask "1password-cli"
cask "claude-code"
cask "raycast"
cask "supercollider"

# Fonts
cask "font-fira-code"
cask "font-fira-code-nerd-font"
cask "font-fira-mono-nerd-font"
cask "font-prompt"
{{ end }}
## BREWS
brew "awscli"
brew "bat-extras"
brew "bats-core"
brew "bats-assert"
brew "bats-file"
brew "bats-support"
brew "chezmoi"
brew "cmake"
brew "coreutils"
brew "direnv"
brew "fish"
brew "fisher"
brew "fzf"
brew "git"
brew "gh"
brew "ghcup"
brew "gnupg"
brew "golang"
brew "htop"
brew "jq"
brew "juliaup"
brew "llm"
brew "llvm"
brew "neovim"
brew "nodejs"
brew "openssl"
brew "packer"
brew "pixi"
brew "readline"
brew "sesh"
brew "terraform"
brew "tig"
brew "tmux"
brew "tmux-fingers"
