#!/bin/bash

# Ensure homebrew and cargo binaries are in PATH
export PATH="{{ .homebrew_prefix }}/bin:{{ .cargo_home }}/bin:$PATH"

# Launch fish, fallback to zsh
fish="{{ .homebrew_prefix }}/bin/fish"
if [ -x "${fish}" ]; then
  exec "${fish}"
else
  exec /usr/bin/env zsh
fi
